html {
    outline: auto;
}

#wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

#map{
    height: 9rem;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    outline:auto;
}

#legend{
    height: 3rem;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    outline:auto;
}

#sources{
    height: 3rem;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    outline:auto;
}

#protected-areas{    
    height: 3rem;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    outline:auto;
}